<div class="section mt-3 mb-5 intro">
    <h1>Introduction</h1>
<div class="intro-body">
<p>The following are the events for <a href="https://openjdk.org">OpenJDK</a> {{version}} (<a href="{{url}}">{{tag}}</a>{{#permanentURL}}, <a href="{{.}}">permalink</a>{{/permanentURL}}, {{date}}){{#graalVMInfo}},
    and <a href="https://www.graalvm.org/">Graal VM</a> {{version}} (<a href="{{url}}">{{tag}}</a>) {{/graalVMInfo}}. The events are collected from the event configuration
and the source code. Visit the <a href="https://github.com/SAP/jfrevents">jfreventcollector</a> repository for more information.
This is also the place you can contribute additional event descriptions, if you don't want to contribute them directly
to the <a href="https://github.com/openjdk/jdk">OpenJDK</a>.
The site generator lives on GitHub, <a href="https://github.com/SAP/jfrevents/website">too</a>.</p>

<p>This page is maintained by <a href="https://mostlynerdless.de">Johannes Bechberger</a> of the <a href="https://sapmachine.io">SapMachine</a> team at <a href="https://sap.com">SAP</a>
and contributors.</p>

<p><i>Some events have fake end times/durations; these are hidden in the event description here.</i></p>
</div>
</div>